
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
# env
env
env37
env39

boston_house.csv
# py

iotPlatformReq.py
test.py
testPython.py
# config.py
# 폴더
testcode


.ipynb_checkpoints
