
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
# env
env
env37
env39
modeling
simulation
boston_house.csv
# py
normalDistribution.py
iotPlatformReq.py
test.py
testPython.py
# 폴더
testcode

scaler_xgboost.pkl
.ipynb_checkpoints
model.json